body{
    height:100%
}

/* Side Menus */

div#menu-left{
    width:200px;
    height:100%;
    position:fixed;
    top:0px;
    left:-180px;
    background:lightBlue;
    border-right:1px solid black;
}

div#menu-left:hover{
    left:0px;
}

div#menu-bottom{
    width:100%;
    height:200px;
    bottom:-180px;
    left:0px;
    position:fixed;
    background:lightBlue;
    border-top:1px solid black;
}

div#menu-bottom:hover{
    bottom:0px;
    opacity:0.7;
}

p.menu-title{
    margin:0px;
    width:100%;
    text-align:center;
}

p.menu-subtitle{
    margin:25px 0px 0px 5px;
}

ul.item-selector{
    list-style:none;
    margin:10px 0px;
    padding:0px 20px;
}

ul#vis-config{
    list-style:none;
    margin:10px 0px;
    padding:0px 20px;
}

ul#vis-config li{
    padding:5px 0px;
}

ul#vis-config label{
    margin-left:10px;
}

ul.item-selector li:hover{
    background:lightSeaGreen;
}

ul.item-selector li.selected{
    background:lightSeaGreen;
}

div#menu-bottom table{
    margin:20px auto;
}

div#menu-bottom table th{
    vertical-align:center;
    border:1px solid black;
}

div#menu-bottom table td{
    text-align:center;
    padding:3px 5px;
    border:1px solid black;
}

/* Main content */
div#main{
    margin:0px 20px;
    height:100%;
}

h1#page-title{
    width:400px;
    text-align:center;
    margin:0px auto;
}

svg#visualization-container{
    width:100%
}


.link{
	stroke:#000;
	stroke-width: 1.5px;
    fill:none;
}

.node{
	fill:lightBlue;
	stroke:black;
	stroke-width: 1.5px;
}

.label{
	pointer-events:none;
	font-size:10px;
	text-anchor:middle;
}

.link.notUI{
	stroke-width: 1px;
    stroke-dasharray: 5 6;
}

.link.dm0{
	stroke:blue;
}
.link.dm1{
	stroke:green;
}
.link.dm2{
	stroke:orange;
}
.link.dm3{
	stroke:purple;
}
.link.dm4{
	stroke:yellow;
}